.timestamp-footer {
  color:white;
  padding-top:1%;
}

.Footer {
  background-color: black;
  padding: 10px 0px 10px 15px;
  margin-top: 1%;
}

hr {
  color:white;
}


.footer-credit {
  color: white;
  font-size: 12px;
}