.Header {
    background-color: black;
    padding: 10px 0px 10px 15px;
    margin-top: 0px;
  }
  
  .Header .current {
    font-size: 14px;
    background-color: white;
    color: black;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1%;
  }
  

  
  .Header button:hover {
    background-color: black;
    color: white;
  }
  