.Search {
    padding: 20px;
  }
  form.search-field input[type="text"] {
    padding: 10px;
    font-size: 17px;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 1%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
  }
  
  
  .Search .submit-button {
    border-radius: 0px 5px 5px 0px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 5px;
    font-size: 17px;
    border: 1px solid black;
    text-transform: capitalize;
  }
  
  .Search h1 {
    padding-top: 20px;
  }
  
  .celcius {
    font-size: 16px;
  }
  
  .fahrenheit {
    font-size: 16px;
  }
  
  .seperator {
    font-size: 16px;
  }
  