.Search {
    padding: 20px;
  }

.temperature  {
  font-size: 50px;
}


.weather-description {
  font-weight: 600;
}

.weather-description:first-letter {
  text-transform: capitalize;
}

.city {
  font-size: 20px;
}

.form-control {
  display: inline;
  width: 70% ;
  margin-right: 10px;
}

.btn-primary {
  border: 0px solid;
 
}

#icon {
  width:80%;
  margin-bottom:-20px;
}

